<div class="word-container">
  <h1>Create your account</h1>
</div>
<div class="register-container">
  <form action="" method="POST">
    <div class="fname">
      <label>
        <input type="text" placeholder="First Name" name="Firstname" size="20">
      </label>
    </div>
    <div class="lname">
      <label>
        <input type="text" placeholder="Last Name" name="Lastname" size="20">
      </label>
    </div>
    <div class="userid">
      <label>
        <input type="text" placeholder="Username" name="Username" size="50">
      </label>
    </div>
    <div class="pwd">
      <label>
        <input type="password" placeholder="Password" name="Password" size="50">
      </label>
    </div>
    <div class="email">
      <label>
        <input type="email" placeholder="Email Address" name="Email" size="50">
      </label>
    </div>
    <div class="btn">
      <button type="submit">Create Account</button>
    </div>
  </form>
</div>